header {
    background-color: hsl(180, 90%, 35%);
    color: #FFFFFF;
    text-align: center;
    border-style: solid;

  }

  nav {
    background-color: hsl(180, 80%, 25%);
    font: 20px;
  }

  body {
    font-family: "cloud";
  }


  nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }

  nav li {
    display: inline;
    margin-right: 20px;
  }

  li{
    list-style-type: none;
}

  a {
    text-decoration: none;
    color: inherit;
  }

  .left {
    float: left;
    margin: 5px;
  }

  #left-pic {
    display: block;
    height: 400px;
    width: 600px;
    float: left;
    margin: 5px;
  }

  #right-pic {
    float: right;
    margin: 5px;
    height: 400px;
    width: 600px;
  }

  #center-space {
    float: center;
    background-color: yellow;
    padding: 186px;
    font-size: 20px;
    margin: 5px;
    
  }

  .up {
    background: center;
    background-color: pink;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: -5px;
    
  }

  

  button {
    border-radius: 5px;
    color: white;
    background-color: #0F5897;
    padding: 5px 10px 8px 10px;
  }
 

  button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    /* add your code below this line */
    /* add your code above this line */
  }

  @keyframes background-color {
    100% {
      background-color: #4791d0;
    }
  }

  #box-container {
    height: 500px;
    
  }
  
  #box-1 {
    background-color: lightskyblue;
    width: 50%;
    height: 110%;
    align-content: flex-start
    /* align-items: center;
    align-content: center;
    justify-content: start; */
  }

  #box-2 {
    background-color: orangered;
    width: -50%;
    height: -50%;
    /* align-items: center;
    align-content: center;
    justify-content: start; */
    align-content: right;
  }

  #boxofbmi{
    height: 300px;
  }
  #bmiforwomen{
    width: 50%;
    height: 110%;
  }
  #bmiformen{
    width: 50%;
    height: 110%;
  }
.flex-container{
    display: flex;
}

#dis-table{
  display: inline-table;
}


#pictop {
  width: 1660px;
  height: 900px;
}

#left{
  background-color: brown;
}

#firstpic{
  float: left;
}

#first-para{
  font-size: 22px;
  background-color: yellowgreen;
  align-content: center;
  margin-bottom: 10px;
  margin-top: 10px ;
}

#second-para{
  background-color: tomato;
  font-size: 22px;
  margin-top:10px;
  margin-bottom: 10px;
}

#doctor-second-pic{
  float: right;
  width: 350px;
  height:250px;
  align-content: center;
}

#in-theory{
 font-size:20px;
 background-color: tan;
}

#first-trick-pic{
  float: left;
  width: 1200px;
  height: 800px"
}

#red-block{
  list-style-type: none;
  font-size: 22px;
  background-color: salmon;
}
#under-pic-block{
  font-size: 20px;
}

#pop-pink{
 background-color: hotpink;
 color: honeydew;
 text-align: center;
}

#img-of-source{
  width: 300px;
  height:280px;
}

#bio-tomato{
  background-color: tomato;
  color: honeydew;
  text-align: center;
}

#blend-blue{
  background-color:dodgerblue;
  color: honeydew;
  text-align: center"
}

#booky-black{
 background-color:rgb(15, 19, 22);
 color: honeydew;
 text-align: center"
}
