header {
    background-color: hsl(180, 90%, 35%);
    color: #FFFFFF;
    text-align: center;
    border-style: solid;

  }

  nav {
    background-color: hsl(180, 80%, 25%);
  }

  body {
    font-family: "cloud";
  }

  img {
    display: block;
    height: 400px;
    width: 600px;
  }

  nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }

  nav li {
    display: inline;
    margin-right: 20px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .left {
    float: left;
    margin: 5px;
  }

  .up {
    background: center;
    background-color: pink;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: -5px;
  }

  .right {
    float: right;
    margin: 5px;
  }

  .center {
    float: center;
    background-color: yellow;
    padding: 186px;
    font-size: 20px;
    margin: 5px;
  }

  button {
    border-radius: 5px;
    color: white;
    background-color: #0F5897;
    padding: 5px 10px 8px 10px;
  }
   li{
        list-style-type: none;
   }

  button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    /* add your code below this line */
    /* add your code above this line */
  }

  @keyframes background-color {
    100% {
      background-color: #4791d0;
    }
  }

